*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  vertical-align: middle;
}

input[type="text"] {
  padding-left: 0.2em;
}

textarea {
  padding: 0.2em;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.head {
  position: relative;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

.category-editor[open] {
  margin: auto;
  width: 35ch;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
}

.category-editor > div:first-child {
  display: flex;
  justify-content: space-between;
}

.category-editor > button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightgreen;
  padding: 0.5em;
  border-radius: 5px;
}

.category-list {
  display: grid;
  gap: 1em;
}

.category-list > div {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.2rem;
}

.category-list > div:nth-child(even) {
  background-color: whitesmoke;
}

.category-list p,
.category-list input {
  margin-right: auto;
}

.category-list input {
  width: 15ch;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.category-editor::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}

.options-menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.options-menu:hover {
  cursor: pointer;
}

.options {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 2rem;
  left: auto;
  padding: 0.5em;
  box-shadow: -2px 2px 3px gray;
  border-radius: 5px;
}

.options > p {
  margin: 0.5em;
}

.options > p:hover {
  cursor: pointer;
  background-color: lightgray;
}

.task-builder[open] {
  margin: auto;
  width: 35ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
}

.task-builder::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}

.task-builder > .icon-button {
  align-self: flex-end;
}

.task-builder > .icon-button:hover,
.task-builder input[type="submit"] {
  cursor: pointer;
}

form {
  display: grid;
  gap: 1em;
}

form > label {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

textarea {
  min-height: 4rem;
}

.task-builder input[type="submit"],
.list-tab {
  text-transform: uppercase;
}

.list-tab {
  font-size: 0.7rem;
  margin-right: -1.2rem;
  border: 2px solid #ccc;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.list-tab.active {
  background: white;
  margin-bottom: -2px;
  z-index: 2;
}

.list-display {
  margin: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.task-card {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: -2px 2px 2px darkgray;
  min-height: 150px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.task-card.overdue {
  box-shadow: 0 0 3px 5px darkred;
}

.title {
  text-transform: capitalize;
  text-wrap: balance;
}

.task-card .due {
  border-bottom: 2px dotted lightgray;
}

.details {
  text-wrap: pretty;
}

.task-card .category {
  margin-top: auto;
  text-align: right;
  font-size: 0.8em;
}