*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.material-symbols-outlined {
  vertical-align: middle;
}

input[type="text"] {
  padding-left: 0.2em;
}

textarea {
  padding: 0.2em;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.head {
  position: relative;
}

h1 {
  text-align: center;
  margin: 0.5rem;
}

.category-editor[open] {
  margin: auto;
  width: 35ch;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
}

.category-editor > div:first-child {
  display: flex;
  justify-content: space-between;
}

.category-editor > button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightgreen;
  padding: 0.5em;
  border-radius: 5px;
}

.category-list {
  display: grid;
  gap: 1em;
}

.category-list > div {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.2rem;
}

.category-list > div:nth-child(even) {
  background-color: whitesmoke;
}

.category-list p,
.category-list input {
  margin-right: auto;
}

.category-list input {
  width: 15ch;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.category-editor::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}

.options-menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.options {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 2rem;
  left: auto;
  padding: 0.5em;
  box-shadow: -2px 2px 3px gray;
  border-radius: 5px;
}

.options > p {
  margin: 0.5em;
}

.options > p:hover {
  cursor: pointer;
  background-color: lightgray;
}

.task-builder[open] {
  margin: auto;
  width: 35ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
}

.task-builder::backdrop {
  background-color: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(2px);
}

.task-builder > .icon-button {
  align-self: flex-end;
}

form {
  display: grid;
  gap: 1em;
}

form > label {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

form > p,
#new-category {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

form > p {
  margin: -1.1rem 0 0 1rem;
}

textarea {
  min-height: 4rem;
}

.task-builder input[type="submit"],
.list-tab {
  text-transform: uppercase;
}

.list-tab {
  font-size: 0.7rem;
  margin-right: -1.2rem;
  border: 2px solid #ccc;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  position: relative;
  z-index: 1;
}

.list-tab.active {
  background: white;
  margin-bottom: -2px;
  z-index: 2;
}

.list-display {
  margin: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.task-card {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: -2px 2px 2px darkgray;
  min-height: 115px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3px;
}

.task-card.overdue {
  box-shadow: 0 0 3px 5px darkred;
}

.task-card .title,
.edit-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-transform: capitalize;
  text-wrap: balance;
}

.task-card .icon-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.task-card .due,
.edit-due {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.task-card .due {
  border-bottom: 2px dotted lightgray;
}

.task-card .details,
.edit-details {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  text-wrap: pretty;
}

.task-card .category,
.edit-category {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  place-self: end end;
  font-size: 0.8em;
}

.complete {
  color: green;
}

.task-card button[data-function="complete"] {
  place-self: start end;
}

.task-card button[data-function="edit"] {
  place-self: start start;
}

.task-card button[data-function="save"] {
  place-self: start end;
}

.task-card button[data-function="trash"] {
  place-self: start center;
}

.task-card button[data-function="archive"] {
  place-self: start start;
}

.task-card button[data-function="unarchive"] {
  place-self: start end;
}